package post

import (
    . "github.com/blog/model/shared"
    "github.com/blog/view/layout"
    "github.com/blog/view/styles"
)

templ PostBase(p Post) {
    @layout.Base() {
        <div id="blog" class="ph:float-none">
            <div class="sm:w-[85%] ph:w-full ph:pl-[15px] ph:pr-[15px] sm:pl-0">
                <div id="content">
                    @styles.BlogStyle()
                    @GetContent(p)
                </div>
            </div>
        </div>
    }
}