package view_index

import "github.com/harrisbisset/blog/frontend/render/views/view_layout"
import "github.com/harrisbisset/blog/frontend/models"
import "fmt"

templ Show(posts []models.Post) {
	@view_layout.Main() {
	}
}
