package about

import "github.com/blog/view/layout"

templ AboutBase() {
    @layout.Base() {
    <div>
        <p class="text-slate-900 dark:text-white">GitHub: <a href="https://github.com/harrisbisset">harrisbisset</a></p>
        <p class="text-slate-900 dark:text-white">Email: harrisbisset@gmail.com</p>
    </div>
    }
}