@import 'tailwindcss';

@theme {
	--color-border: #4f92bf;
	--color-background-1: #263875;
	--color-background-2: #a5e6d9;
	--color-highlight-1: #dba45c;
	--color-highlight-2: #337763;
	--color-highlight-3: #b8894d;


	--standard-width: 300px;
}
